{% import _self as nav %}
            <ul class="nav nav-tabs">
                <li {{ nav.activeClass(activeNav,'homepage') }}><a href="{{ path('taskmanager') }}">Home</a></li>
                <li {{ nav.activeClass(activeNav,'scheduled_list') }}><a href="{{ path('taskmanager/scheduledlist') }}">Scheduled</a></li>
                <li {{ nav.activeClass(activeNav,'failed_list') }}><a href="{{ path('taskmanager/failedlist') }}">Failed</a></li>
            </ul>


{% macro activeClass(activeNav,item) %}
{% if activeNav == item %}
class="active"
{% endif %}
{% endmacro %}
